<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>R5卒研用 録音アプリ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet"> 
</head>
<body>
    <div class="outer-container">
        <div class="full-screen-container">
            <h1 class="mb-3">R5卒研用 録音アプリ</h1>
            <div id="app">
                <button class="btn btn-danger" type="button" v-if="status==='ready'" @click="startRecording">録音を開始する</button>
                <button class="btn btn-primary" type="button" v-if="status==='recording'" @click="stopRecording">録音を停止する</button>
                <p style="color: #CCCCCC;">ファイル名は下のプルダウンから選択するか、テキストボックスに入力した任意の名前に設定できます。</p>
                <div class="mt-3">
                    <label for="fileNameSelect" style="color: #CCCCCC;">ファイル名:</label>
                    <select id="fileNameSelect" v-model="selectedFileName">
                        <option value="">名前を選択</option>
                        <option v-for="name in predefinedFileNames" :value="name">{{ name }}</option>
                    </select>
                    <input v-if="selectedFileName === ''" type="text" v-model="customFileName" placeholder="任意の名前を指定する">
                </div>
                <div class="mt-3">
                    <label for="recordTime" style="color: #CCCCCC;">録音時間（秒）:</label>
                    <select id="recordTime" v-model="recordTime">
                        <option value="10">10秒</option>
                        <option value="20">20秒</option>
                        <option value="30">30秒</option>
                    </select>
                </div>
                <div class="mt-3">
                    <p>録音時間: {{ recordingTimer }} 秒</p>
                    <div class="progress">
                        <div class="progress-bar" :style="{ width: progressBarWidth }"></div>
                    </div>
                </div>
                <div v-if="downloadLink">
                    <a :href="downloadLink" :download="downloadFilename" @click="resetApp">ダウンロード</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                status: 'ready',
                recorder: null,
                audioData: [],
                predefinedFileNames: ['Lathe', 'Milling cutter', 'Air Compressor', 'Drill press', 'Grinder'],
                selectedFileName: '',
                customFileName: '',
                downloadLink: null,
                downloadFilename: '',
                recordTime: 10,
                recordingTimer: 0,
                progressBarWidth: '0%',
                intervalTimer: null,
            },
            methods: {
                startRecording() {
                    this.status = 'recording';
                    this.audioData = [];
                    this.recordingTimer = 0;
                    this.progressBarWidth = '0%';
                    this.recorder.start();
                    const interval = 1000;
                    const totalTicks = this.recordTime;
                    let tick = 0;

                    this.intervalTimer = setInterval(() => {
                        tick++;
                        this.recordingTimer = tick;
                        this.progressBarWidth = ((tick / totalTicks) * 100) + '%';

                        if (tick >= totalTicks) {
                            this.stopRecording();
                        }
                    }, interval);
                },
                stopRecording() {
                    clearInterval(this.intervalTimer); // タイマーをクリア
                    this.recorder.stop();
                    this.status = 'ready';
                    this.recordingTimer = 0;
                    this.progressBarWidth = '0%';
                },
                resetApp() {
                    this.status = 'ready';
                    this.downloadLink = null;
                    this.downloadFilename = '';
                },
            },
            mounted() {
                navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
                    this.recorder = new MediaRecorder(stream);
                    this.recorder.addEventListener('dataavailable', (e) => {
                        this.audioData.push(e.data);
                    });
                    this.recorder.addEventListener('stop', () => {
                        const audioBlob = new Blob(this.audioData, { type: 'audio/mp4' });
                        const url = URL.createObjectURL(audioBlob);
                        const fileName = this.selectedFileName !== '' ? this.selectedFileName : this.customFileName || Math.floor(Date.now() / 1000);
                        this.downloadLink = url;
                        this.downloadFilename = fileName + '.mp4';
                    });
                });
            },
        });
    </script>
</body>
</html>
